* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(255,255,255);
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  line-height: 1.5;
  width: 100vw;
}

.content {
  background: none;
  margin: auto;
  margin-top:10vh;
  max-width: 680px;
  padding: 10px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

p, ul {
  margin-top: 1.3em;
}

p, li {
  font-size: 18px;
}


a:link {
  color: #6900ff;
}

a:visited {
  color: #6900ff;
}

a:focus {
  background: #bae498;
  text-decoration: none;
}

a:hover {
  background: #cdfeaa;
  text-decoration: none;
}

a:active {
  background: #6900ff;
  color: #cdfeaa;
}
