* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Serif 4', Georgia, Cambria, "Times New Roman", Times, serif;
  height: 100vh;
  width: 100vw;
  line-height: 1.5;
  background: rgb(255,255,255);
}

.content {
  margin: auto;
  margin-top:10vh;
  max-width: 680px;
  background: none;
  padding: 10px;
}

h1 {
  font-size: 42px;
  font-weight: bold;
}

p, ul {
  margin-top: 1.3em;
}

p, li {
  font-size: 20px;
}


a {
  outline: none;
}

a:link {
  color: #6900ff;
}

a:visited {
  color: #6900ff;
}

a:focus {
  text-decoration: none;
  background: #bae498;
}

a:hover {
  text-decoration: none;
  background: #cdfeaa;
}

a:active {
  background: #6900ff;
  color: #cdfeaa;
}
