*, img, body{ margin: 0; padding: 0; border: 0; }

body {
  font-family: 'Arimo', sans-serif;
  color: #333;
  line-height: 1.5em;
  }
  
header {
  margin: 60px 0 36px 0;
  text-align: right;
  }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  overflow: auto;
  }
  
.logo {
  height: 84px;
  float: left;
  }
  
.nav {
  list-style: outside none none;
  margin-bottom: 0;
  padding-left: 0;
  height: 84px;
  line-height: 84px;
  vertical-align: middle;
  }
  
.nav li {
  display: inline-block;
  text-transform: lowercase;
}
  
.nav li + li {
  margin-left: 0.5em;
  }
  
p {
  padding: 0 0 1em 0;
  }
  
a {
  text-decoration: none;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
  }
  
ul a:link, ul a:visited {
  border-bottom: 1px dotted #1193D8;
  color: #1193D8;
  font-family: "Arimo",Arial,Helvetica,Verdana;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 22px;
  padding-bottom: 2px;
  text-transform: uppercase;
}

p a:hover, ul a:hover, h2 a:hover{
	border-bottom: 1px dotted #214166;
	color: #214166;
}